/* *{
    margin: 0;
    padding: 0;
} */
#home{
    display: flex;;
}
#logo>img{
    height: 100vh;
    width: 100%;
}
#content{
    margin-left: 30px ;
}

#firstline,#secondline{
    margin-top: 20px;
    display: flex;;
    justify-content: space-between;
}
form{
    line-height: 30px;
}

input[type="text"]{
    height: 40px;
    width: 250px ;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 5px;
    color: #999999;
}

input[type="number"]{
    height: 40px;
    width: 130px ;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 5px;
}
#discription{
    height: 100px;
    
}
#forthline{
    margin-top: 20px;
    display: flex;
    
}
input[type="password"]{
    height: 40px;
    width: 150px ;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 5px;
}
textarea{
    height: 90px;
    width: 100% ;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 5px;
    border-color:black ;
}
#buttons{
    margin-top: 50px;
    text-align: center;
    /* margin-right: 10px; */

}
#reset,#submit{
    width: 130px;
    height: 50px;
    border-radius: 50px;
    margin-left: 15px;
    background-color: blueviolet;
    border: none;
}

#submit:hover{
    color: white;
    background-color: rgb(139, 104, 170);
}
#reset:hover{
    color: white;
    background-color: rgb(139, 104, 170);
}